body {
    margin: 0px;
    background-color: #F8F8F8;
}

nav {
    text-align: center;
    background-color: white;
}

a {
    text-decoration: none;
    color: #4169E1 !important;
}
a:link {
  color: #404040;
}
a:visited {
  color: #404040;
}
a:hover {
  color: #4169E1;
  text-decoration: underline;
}

#title_and_icons {
    width: 80%;
    margin: auto;
}

#top_banner {
    text-align: center;
}

#navbar {
    padding: 10px;
}

#topnav {
    padding: 15px;
    border-bottom: 1px solid #EEEEEE;
   
}

.options {
    padding: 8px;
}

  .bi {
      padding: 5px;
      color: #404040;
  }

  .bi-three-dots-vertical {
      color: #D3D3D3;
  }


  div.main_contents {
      width: 70%;
      margin: 40px 30%;
  }

  div.left-column {
      width: 30%;
      float: left;
      text-align: left;
      background-color: white;
      margin-left: 20px;
      padding: 17px;
      box-shadow: 0 0 .5px -10px;

  }

  div.right-column {
      float: left;
      background-color: white;
      margin-left: 50px;
      padding: 17px;
      box-shadow: 0 0 .5px -10px;
  }

  div#datetime {
      border: 1px solid #D3D3D3;
      border-radius: 6px;
      padding: 20px;
  }

  div#second-box {
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    margin-top: 8px;
  }

  div#events {
    border: 1px solid #D3D3D3;
    padding: 20px;
 
  }

  div#descript {
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    padding: 50px;
    margin: 10px;
  }



/* quiz.html */

#quiz-content{
    margin:0 25%;
}
#quiz-list{
    /* border: 1px solid #404040; */
    width: 100%;
    border: 0.25px solid lightgrey;
}
#quiz-list > tr,td,th {
    border: 0.25px solid lightgrey;
    margin: 0;
    font-size:  10px;
    padding: 10px;
}

/* quiz-5.html */

#quiz-description{
    line-height: 5px;
    margin:0 25%;
}
#quiz-process-button{
    font-size:  10px;
    padding: 10px 20px;
    background-color: #4169E1;
    color: #F8F8F8;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}

#question-container{
    margin: 10px 120px;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}





/* result.html */
#result-info{
    line-height: 15px;
    margin:20px 25%;
}
#reward_info{
    width: 100%;
}
#reward_img{
    width: 50%;
    float: left;
}
#reward_description{
    width: 50%;
}